./data/babi_dialog_pkl
./babi_dialog/dialog_processed_task_1
./babi_dialog/dialog_processed_task_2
./babi_dialog/dialog_processed_task_3
./babi_dialog/dialog_processed_task_4
./babi_dialog/dialog_processed_task_5
./babi_dialog/dialog_oov_processed_task_1
./babi_dialog/dialog_oov_processed_task_2
./babi_dialog/dialog_oov_processed_task_3
./babi_dialog/dialog_oov_processed_task_4
./babi_dialog/dialog_oov_processed_task_5
./babi_story/story_processed
__pycache__
conf*.txt